body{
  text-align: center;
  margin: 0 auto;
  font-size: 0;
}
header{
  display:block;
  height: 130px;
  text-align: left;
  background-color: white;
  font-size: 10px;
  color: white;
  background-color: skyblue;
  background-color: white;

}
header .head{
  display: block;
  height: 37%;
  text-align: left;
  background-color: rgb(37, 90, 235);
  font-size: 10px;
  color: white;
  
}
header .blank2 {
  display: block;
  height: 8%;
  background-color: whitesmoke;
  font-size: 5px;
 
}
header .head2{
  display: inline-block;
  width:60%;
  height: 25%;
  line-height: 28px;
  text-align: left;
  background-color: rgb(37, 90, 235);
  margin-left:20%;
  font-size: 13px;
  color: white;
  background-color: white;
  
  color: black;
  cursor: pointer;
}
header .head3{
  display: inline-block;
  width:60%;
  height: 25%;
  line-height: 28px;
  text-align: left;
  background-color: rgb(37, 90, 235);
  margin-left:20%;
  font-size: 13px;
  color: gray;
  background-color: white;

  cursor: pointer;
  /*
  margin-left:17.5%;
  width:60%;
   text-align: left;
  */
}
header .blank{
  display: inline-block;
  width:60%;
  margin-left:20%;

  height: 100%;
  line-height: 40px;
  text-align: left;
  background-color: rgb(37, 90, 235);
  font-size: 20px;
  color: white;

  /*
  width:56%;
  text-align: center;
*/

}
.head a{
  font-size: 14px;
  font-weight: 300;
  color: gainsboro;

}
.head3 a{
  font-size: 13px;
  font-weight: 300;
  color: gray;

}

a {
  text-decoration:  none;
}
nav{
  width: 20%;
  height: 700px;
  text-align: left;
  background-color: blanchedalmond;
  font-size: 20px;
  color: white;
  float:left;
  margin-top: -5px;

}
section{
  display: inline-block;
  width: 60%;
  height: 700px;
  text-align: left;
  background-color: white;
  font-size:0px;
  color: white;
  margin-left:-20%;
  margin-top: -5px;
}
article{
  display: block;
  height: 55%;
  text-align:left;
  background-color: yellow;
  font-size: 0px;
  color: white;
  margin-top:15px;

  z-index: 10;


}
article .videos{
  display: inline-block;
  width: 70%;
  height: 100%;
  text-align: left;
  background-color: beige;
  font-size: 20px;
  color: black;
  
 
}
article .vods1{
  display: inline-block;
  width: 50%;
  height: 45%;
  text-align: left;
  background-color: gold;
  font-size: 15px;
  color: black;

}
article .vods2{
  display: inline-block;
  width: 290px;
  height: 170px;
  text-align: right;
  background-color: rosybrown;
  font-size: 15px;
  color: black;

}

article .vods3{
  display: inline-block;
  width: 290px;
  height: 90px;
  text-align: right;
  background-color: rosybrown;
  font-size: 15px;
  color: black;

}
article .vods4{
  display: inline-block;
  width: 290px;
  height: 90px;
  text-align: right;
  background-color: rosybrown;
  font-size: 15px;
  color: black;

}
article .vods5{
  display: inline-block;
  width: 290px;
  height: 90px;
  text-align: right;
  background-color: rosybrown;
  font-size: 15px;
  color: black;

}
article .vods6{
  display: inline-block;
  width: 290px;
  height: 90px;
  text-align: right;
  background-color: rosybrown;
  font-size: 15px;
  color: black;

}
article .vods7{
  display: inline-block;
  width: 290px;
  height: 90px;
  text-align: right;
  background-color: rosybrown;
  font-size: 15px;
  color: black;

}
.videos .vods1 img{
  width:300px;
  height: 180px;
  float: left;
  overflow: auto;


}
.videos img{
  width:290px;
  height: 90px;
  float:left;
  overflow: auto;

}



article .news{
  display: inline-block;
  width: 30%;
  height: 30%;
  text-align: left;
  background-color: khaki;
  font-size: 20px;
  color: black;
  z-index: 30;
}


footer{
  display: inline-block;
  width: 100%;
  height: 30%;
  text-align: center;
  background-color:green;
  font-size: 20px;
  color: white;
  
}
footer .menu{
  display: block;
  height: 20%;
  text-align: center;
  background-color: red;
}
footer .videos{
  display: block;
  height: 70%;
  text-align: center;
  background-color: skyblue;
}
footer .more5vods{
  display: block;
  height: 20%;
  text-align: center;
  background-color: springgreen;
}

aside{
  width: 20%;
  height: 700px;
  text-align: left;
  background-color: blanchedalmond;
  color: black;
  margin-left:-20%;
  float:right;
  margin-top: -5px;
}
