body{
  text-align: center;
  margin: 0 auto;
  font-size: 0;
}
header{
  display: inline-block;
  width: 1000px;
  height: 130px;
  text-align: left;
  background-color: blue;
  font-size: 20px;
  color: white;
}

#section1{
  display: inline-block;
  width:700px;
  height: 330px;
  text-align: left;
  background-color: yellow;
  font-size: 20px;
}
aside{
  display: inline-block;
  width:300px;
  height: 330px;
  text-align: left;
  background-color: skyblue;
  font-size: 20px;
}
#section2{
  display: inline-block;
  width:1000px;
  height: 210px;
  text-align: left;
  background-color: salmon;
  font-size: 20px;
}
#section3{
  display: inline-block;
  width:1000px;
  height: 55px;
  text-align: left;
  background-color: slategray;
  font-size: 20px;
}
#section4{
  display: inline-block;
  width:1000px;
  height: 210px;
  text-align: left;
  background-color: sandybrown;
  font-size: 20px;
}